.popup__heading {
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 75px;
}

@media screen and (min-width: 1280px) {
  .popup__heading {
    font-size: 24px;
    line-height: 29px;
    padding-right: 0px;
    padding-bottom: 43px;
    margin-bottom: 0px;
  }
}
