.profile__btn-edit {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin-top: 10px;
}
.profile__btn-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile__btn-edit {
    width: 24px;
    height: 24px;
    margin-left: 23px;
  }
}
